.mainpage-form{
    margin-top: 2rem;
    border:2px solid purple;
    width: 300px;
    margin-left: 39rem;
    background-color: beige;
}

.money{
    margin-left: 3rem;
}

.profit{
    margin-top: 2rem;
}

.limit-exceed {
    color: red;
}
.limit-not-exceed{
    color: green;
}

.mainpage-form input{
    border-radius: 10px;
  background: lightpink;
  padding: 20px;
  width: 200px;
  height: 1px;
}