.mainpage-form{
    margin-top: 2rem;
    border:2px solid purple;
    width: 300px;
    margin-left: 39rem;
    background-color: beige;
}

.money{
    margin-left: 3rem;
}

.profit{
    margin-top: 2rem;
}